.card {
  padding: 8px;
  margin: 16px auto 16px;
  width: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  background-color: white;

  &:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px, rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
  }

  .header {
    display: flex;
    margin-bottom: 4px;

    .functionality {
      display: flex;
      flex-direction: column;
      text-align: center;

      .green {
        &:hover {
          color: #2e7d32;
        }
      }

      .red {
        &:hover {
          color: #f44336;
        }
      }
    }

    .content {
      padding: 0 4px 8px 8px;
      width: 100%;

      em {
        font-size: smaller;
        text-align: end;
        display: block;
        color: gray;

        @media all and (max-width: 768px) {
          font-size: x-small;
        }
      }

      .subcontent {
        padding: 0 4px 4px 4px;
        height: 100px;

        h2 {
          margin-bottom: 4px;

          @media all and (max-width: 768px) {
            font-size: larger;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-around;

    span {
      display: flex;
      align-items: center;

      svg {
        margin-right: 4px;
      }
    }

    @media all and (max-width: 768px) {
      font-size: small;
    }
  }

  @media all and (max-width: 480px) {
    width: 80%;
  }
}