.home {
  .content {
    display: flex;
    padding-top: 70px;

    .left {
      position: static;

      @media all and (min-width: 520px) {
        width: 40%;
        overflow: scroll;
        height: calc(100vh - 70px);
        position: fixed;
      }

      @media all and (min-width: 768px) {
        width: 30%;
      }
    }

    .right {

      @media all and (min-width: 520px) {
        min-height: calc(100vh - 70px);
        width: 60%;
        margin-left: 40%;
      }

      @media all and (min-width: 768px) {
        width: 70%;
        margin-left: 30%;
      }
    }

    @media all and (max-width: 520px) {
      flex-direction: column;
      height: auto;
    }
  }

  .controls {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    z-index: 1101;

    button {
      margin-bottom: 10px;
    }

    @media all and (max-width: 480px) {
      position: fixed;
    }
  }
}