@use "styles/variable";

.card {
  margin: 1em;
  width: min(300px, 100%);
  position: relative;
  border-radius: 12px;
  color: variable.$black-color;
  background-color: variable.$white-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card_image {
    position: relative;
    height: 200px;
  }

  &:hover {
    box-shadow: variable.$hover-shadow;
  }

  .card_content {
    padding: 1em;

    .card_header {
      font-size: larger;
      text-align: center;

      p {
        color: variable.$grey-color;
        word-break: break-word;
      }
    }

    .card_rating {
      display: flex;
      align-items: center;
      justify-content: center;

      .golden_svg {
        color: variable.$golden-star-color;
      }

      span {
        margin-left: 0.5em;
      }
    }
  }

  .card_badge {
    position: absolute;
    top: -10px;
    left: -10px;
    height: 150px;
    width: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "Sale";
      transform: rotate(-45deg) translateY(-20px);
      width: 150%;
      position: absolute;
      height: 40px;
      background-color: variable.$danger-color;
      display: flex;
      align-items: center;
      justify-content: center;
      color: variable.$floralwhite-color;
      text-transform: uppercase;
      font-size: larger;
      letter-spacing: 0.1em;
      font-weight: bolder;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 10px;
      height: 10px;
      background-color: variable.$danger-color;
      z-index: -1;
      box-shadow: 140px -140px variable.$danger-color;
    }
  }

  .card_footer {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-size: larger;
    cursor: default;

    .card_pricing {
      display: flex;
      align-items: center;
      justify-content: center;
      color: variable.$success-color;
      font-weight: bold;

      span {
        font-size: xx-large;
        margin-left: 4px;
      }
    }

    .card_icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 90px;
      width: 40%;
      color: variable.$black-color;

      svg {
        border-radius: 50%;
        background-color: variable.$dark-cyan-color;
        color: variable.$floralwhite-color;
        cursor: pointer;
      }
    }
  }
}