@use "styles/variable";

.filter {
  margin: 1em;
  padding: 1.3em;
  background-color: variable.$white-color;

  .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 4px;

    &:hover {
      background-color: variable.$lightest-primary-color;
    }

    div {
      display: flex;
      align-items: center;
    }
  }


  .group_check_box {
    padding: 10px;

    .first,
    .second {
      display: flex;
      justify-content: space-around;
      margin: 12px 0;

      div {
        width: 50%;
      }
    }
  }

  .group_review_stars {
    padding: 10px;
    margin-bottom: 12px;

    div {
      display: flex;
      align-items: center;
      margin-top: 12px;
      cursor: pointer;

      .golden_svg {
        color: variable.$golden-star-color;
      }

      span {
        margin-left: 8px;
      }
    }
  }

  .textinput {
    padding: 0 10px;
    margin: 20px 0;

    input {
      margin-top: 5px;
      width: 50%;
      padding: 6px;

      &:focus {
        transition: width 0.4s ease-in-out;
        width: 100%;
      }
    }
  }

  .range {
    margin: 10px 0;
    padding: 10px;

    input {
      margin-top: 5px;
      width: 100%;
    }
  }

  .apply {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    button {
      background-color: variable.$dark-primary-color;
      width: 50%;
    }
  }

  @media all and (max-width: 480px) {
    margin: 20px;
  }

  @media all and (min-width: 481px) and (max-width: 768px) {
    margin: 20px 0 20px 20px;
  }
}