@use 'styles/variable';

.user_products_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em 0;

  @media all and (min-width: 500px) {
    padding: 2em;
  }

  .card {

    img {
      width: 100%;
      height: auto;
    }

    @media all and (min-width: 500px) {
      width: 50%;
    }

    @media all and (min-width: 600px) {
      width: 40%;
    }

    @media all and (min-width: 900px) {
      width: 30%;
    }

    @media all and (min-width: 1400px) {
      width: 30%;
    }

  }
}