@use 'styles/variable';

.user_products_wrapper {
  padding: 1em;

  h1 {
    margin: 0.5em 0;
    font-family: variable.$monospace;
  }

  .user_products_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em 0;

    @media all and (min-width: 500px) {
      padding: 2em;
    }
  }
}