@use "styles/variable";

.auth_navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0 30px;

  a {
    display: flex;
    align-items: center;

    img {
      margin-right: 8px;
      width: 40px;
      height: 40px;

      @media all and (max-width: 350px) {
        display: none;
      }
    }

    svg {
      margin-right: 8px;
      color: variable.$primary-color;
    }
  }

  h1 {
    color: variable.$primary-color;

    @media all and (max-width: 480px) {
      font-size: x-large;
    }
  }

  div {
    display: flex;
    align-items: center;

    a {
      button {
        width: 90%;
        font-size: initial;
        padding: 11px;
        margin: 0 10px;
        border-radius: 4px;
        font-weight: 100;
      }
    }
  }
}