@use "styles/variable";

.auth_container {
  display: flex;
  height: calc(100vh - variable.$navbar-height);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;

  .auth_box {
    padding: 30px;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    background-color: variable.$default-background-color;

    p {
      margin-top: 10px;
      color: variable.$grey-color;

      a {
        color: variable.$primary-color;
      }
    }

    form {
      margin-top: 15px;

      button {
        border-radius: 8px;
      }
    }

    .auth_footer {
      text-align: end;
      color: variable.$grey-color;
      margin-top: 10px;
    }

    @media all and (min-width: 480px) {
      width: 60%;
    }

    @media all and (min-width: 768px) {
      width: 30%;
    }
  }
}