@use "styles/variable";

.create_topic_container {
  margin-top: variable.$navbar-height;
  padding: 20px 1em;

  .topic_heading {
    text-align: center;
    font-family: variable.$cursive-font;
  }

  input {
    background-color: variable.$white-color;
  }

  .topic_editor {
    &>p {
      margin: 10px 0;
      text-align: center;
      font-size: 1.3em;
      font-family: variable.$verdana-font;
      font-weight: bolder;
    }
  }

  .topic_controls {
    display: flex;
    justify-content: flex-end;

    button {
      width: 100px;
      margin: 10px;
    }
  }

  @media all and (min-width: 768px) {
    padding: 20px 3em;
  }
}