@use "styles/variable";

.offcanvas {
  position: fixed;
  width: 100%;
  z-index: 1101;
  top: 0;
  transform: translate(-100%);
  transition: transform 0.5s ease-out;

  .close {
    position: fixed;
    top: 0;
    z-index: 1140;
    left: 260px;
    border-style: none;
    color: variable.$floralwhite-color;
    background-color: variable.$transparent-color;
    cursor: pointer;
  }

  .offcanvas__drawer {
    height: 100vh;
    width: 250px;
    overflow: scroll;
    background-color: variable.$white-color;
    transform: translate(-250px);
    transition: transform 0.5s ease-out;

    .offcanvas_heading {
      padding: 0.5em;
      word-break: break-word;

      a {
        color: variable.$black-color;
      }
    }

    h3 {
      padding: 0.5em 0 0 1em;
      word-break: break-word;
    }

    ul {
      list-style-type: none;
      padding: 1em 0;

      &>li {

        span,
        a {
          display: block;
          padding: 0.5em 0 0.5em 1em;
          color: variable.$black-color;
          font-size: larger;
          cursor: pointer;

          &:hover {
            background-color: variable.$hover-grey-color;
            transition: background-color 0.15s ease-in-out;
          }
        }
      }
    }
  }

  .offcanvas__drawer__open {
    transform: translate(0);
    transition: transform 0.5s ease-in;
  }
}

.offcanvas__open {
  transform: translate(0);
  background-color: variable.$black-transparent-color;
  transition-property: background-color;
}