@use "styles/variable";

.order_history_wrapper {
  padding: 2em;
  min-height: 90vh;

  h1 {
    display: flex;
    margin: 0.5em 0;
    align-items: center;
    font-family: variable.$cursive-font;

    img {
      margin-right: 8px;
    }
  }

  hr {
    margin-bottom: 2em;
  }

  .csv_button {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      display: flex;
      padding: 0.7em;
      justify-content: center;
      width: 250px;
      text-transform: initial;
      color: variable.$success-color;
      border-color: variable.$success-color;
      background-color: variable.$light-success-color;
    }
  }

  .order_container {
    overflow: scroll;

    table {
      margin-top: 1em;
      font-family: variable.$verdana-font;
      border-collapse: separate;
      border-spacing: 0px 1em;
      width: 100%;

      tbody tr {
        height: 70px;
        background-color: variable.$white-color;

        td {

          svg {
            cursor: pointer;
          }
        }

        &:hover {
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
        }
      }

      td,
      th {
        padding: 0.4em;
        text-align: center;
      }

      thead tr {
        height: 70px;
        background-color: variable.$white-color;

        th {
          padding: 0.8em;
        }
      }
    }
  }
}