@use "styles/variable";

.order_summary_wrapper {
  padding: 2em;
  min-height: 90vh;

  h1 {
    display: flex;
    margin: 0.5em 0;
    align-items: center;
    font-family: variable.$cursive-font;

    img {
      margin-right: 8px;
    }
  }

  hr {
    margin: 1em 0;
  }

  .summary_container {
    padding: 2em 0;

    .input_box {
      display: flex;
      align-items: center;

      p:first-child {
        display: block;
        font-weight: bolder;
        font-size: larger;
        font-family: variable.$monospace;
        width: 35%;
      }

      p:nth-child(2) {
        color: variable.$primary-color;
        margin: 1em 0;
        width: 65%;
      }
    }
  }

  .cart_container {
    display: flex;
    border-top: 1px solid variable.$light-grey-color;
    min-height: 80vh;

    .cart_products {
      padding: 3em 2em;
      border-right: 1px solid variable.$light-grey-color;
      overflow: scroll;
      width: 65%;

      table {
        margin-top: 1em;
        font-family: variable.$verdana-font;
        border-collapse: collapse;
        width: 100%;

        td,
        th {
          border: 1px solid variable.$light-grey-color;
          border-width: 1px 0;
          padding: 0.4em;
          text-align: center;
        }

        tr {
          background-color: variable.$white-color;
        }

        tbody tr {
          &:hover {
            background-color: variable.$hover-grey-color;
          }
        }

        th {
          padding: 0.8em;
        }
      }
    }

    .cart_bill {
      width: 35%;
      padding: 2em 2em;

      h2,
      h3 {
        margin-bottom: 1em;
      }

      .coupon_applied {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;

        p:nth-child(2) {
          color: variable.$danger-color;
          font-weight: 900;
        }
      }

      .bill_detail {
        display: flex;
        justify-content: space-between;
        padding: 0.3em 0;
      }
    }

    @media all and (max-width: 768px) {
      display: block;

      .cart_products,
      .cart_bill {
        width: 100%;
      }

      .cart_products {
        padding: 2em;
        border-right: 0;
        border-bottom: 1px solid variable.$light-grey-color;
      }
    }
  }
}